.App{
    text-align: center;
    margin-top: 70px;
  } 
  
.bg{
    background-color: cornsilk;
}

.homeCards{
  background-color: rgb(162, 149, 171);
}

#visa{
  background-color: rgb(186, 172, 114);
}

.low{
  background-color: green;
}

.medium{
  background-color: blue;
}

.high{
  background-color: rgba(255, 255, 0, 0.817);
}

.extreme{
  background-color: rgba(255, 0, 0, 0.477);
}

#translate{
max-width: 270px;
}

#place{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-size: xx-large;
}

#cardText{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-size: large;
}

#homeButtons{
  font-size: large;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
}

#convertC{
  max-width: 300rem;
  max-height: 400px;
  margin-right: 80px;
  background-color:  rgba(113, 125, 145, 0.348);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
}


#btnText{
  color: black;
  font-size: xx-large;
  font-weight: bolder;
}

#fillIn{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: larger;
}

#h1{
  margin-bottom: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

#loginH{
  /* margin-right: 25px; */
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: larger;
  }

#loginP{
/* margin-right: 25px; */
margin-top: 100px;
font-family: 'Times New Roman', Times, serif;
font-weight: 600;
font-size: larger;
}

#btn-login{
  margin-left: 10px;
  background-color:lightsteelblue;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: larger;
}

#submit{
 color: blue;
}

#btn-signup{
  background-color:rgb(50, 205, 187);
  margin-left: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: larger;
}


.row{
  margin-left: 20px;
  margin-bottom: 20px;
}

/* CSS for Notes Page: */
#headNotesBanner{
  margin-left: 700px;
}

#schedule{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  margin-left: 55px;
  margin-top: 20px;
  /* background-color: aqua; */
}

.dateTime{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: larger;
  margin-left: 400px;
  /* background-color: aqua; */
}


#notes{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  background-color: rgba(85, 107, 47, 0.341);
  max-width: 25rem;
  /* margin-top: 50px; */
}

#aquiz{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  background-color: rgba(255, 228, 196, 0.334);
  max-width: 25rem;
}

/* Business Search Page CSS: */
#Bbanner{
 background-image: url('./assets/images/Header_Business.jpg');
}

#BbannerText{
  margin-bottom: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: antiquewhite;
}

.image{
  border-radius: 25px;
  position: relative;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.image_overlay{
  position: relative;
  margin: 0px 0px 0px 0px;
  width: 100%;
  text-align: center;
  /* margin-top: 50px; */
}
#searchI{
  margin-top: 30px;
}

.city{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: antiquewhite;
  font-size: xx-large;
  font-weight: bolder;
}

.overlay:hover .image {
  opacity: 0.1;
}


.overlay:hover .city {
  opacity: 1;
  background-color: rgba(255, 228, 196, 0.463);
}
/* Photo Credits: Paris- www.vactualpapers.com   Rio De Janeiro- www.freewalkertours.com/   London- www.youtube.com    New York- www.istockphoto.com  */
/* .icons{
  
} */