.App{
    text-align: center;
    margin-top: 70px;
  } 
  
.bg{
    background-color: cornsilk;
}

#visa{
  background-color: rgba(255, 0, 0, 0.565);
  
}

#translate{
max-width: 270px;
}

#convertC{
  max-width: 400rem;
  margin-bottom: 80px;
  
}

#CCC{
  /* display: inline-block;
  justify-content: flex-end; */
}

#btnText{
  color: black;
  font-size: larger;
  font-weight: bolder;
}

#fillIn{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: larger;
}

#h1{
  margin-bottom: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

#loginH{
  /* margin-right: 25px; */
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: larger;
  }

#loginP{
/* margin-right: 25px; */
margin-top: 100px;
font-family: 'Times New Roman', Times, serif;
font-weight: 600;
font-size: larger;
}

#btn-login{
  margin-left: 10px;
  background-color:lightsteelblue;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: larger;
}

#submit{
 color: blue;
}

#btn-signup{
  background-color:rgb(50, 205, 187);
  margin-left: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: larger;
}


.row{
  margin-left: 20px;
  margin-bottom: 20px;
}

/* CSS for Notes Page: */
#headNotesBanner{
  margin-left: 700px;
}

#schedule{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  margin-left: 55px;
  margin-top: 20px;
}

.dateTime{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: larger;
  margin-left: 400px;
}


#notes{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  background-color: rgba(85, 107, 47, 0.341);
  max-width: 25rem;
  margin-top: 50px;
}

#aquiz{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  background-color: bisque;
  max-width: 25rem;
}

/* Business Search Page CSS: */
#Bbanner{
 background-image: url('./assets/images/Header_Business.jpg');
}

#BbannerText{
  margin-bottom: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: antiquewhite;
}
.overlay{
  margin-top: 50px;
}
#searchI{
  margin-top: 30px;
}
/* Photo Credits: Paris- www.vactualpapers.com   Rio De Janeiro- www.freewalkertours.com/   London- www.youtube.com    New York- www.istockphoto.com  */
/* .icons{
  
} */